.weather-daily-forecast {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  gap: 1rem;

  height: 20.6rem;
}

.weather-part-degree-small {
  text-align: center;
  font-size: 1.2rem;
  color: #1b4de3;
}

.icon-umbrella-div {
  display: grid;
  align-items: center;
}

.weather-daily-forecast .weather-icon {
  display: grid;
  align-items: center;
}
